@tailwind base;
@tailwind components;
@tailwind utilities;

/****font Fira Code **********/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  background-color: #2a3136;
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
  
}


