@import  "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/****font Fira Code **********/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');



body {
  background-color: #2a3136;
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
 

  
}

.card-desktop {
  width: 800px;  /* ou la taille que vous voulez */
  height: 300px;  /* ou la taille que vous voulez */
}

.card-mobile {
  width: 300px;
  height: 300px;
}

/* Media Query pour les écrans avec une largeur de 768px ou moins (taille de tablette) */
@media (max-width: 768px) {
  .card-desktop {
      width: 300px;
      height: 300px;
  }
}


.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:hover:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}


@media (max-width: 768px) {
  .projects__left {
    max-width: 100%;
  }
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.animate-arrow {
  animation: arrow-animation 1s ease-in-out infinite;
}

.flipped-arrow {
  transform: rotate(180deg);
}

@keyframes arrow-animation {
  0% {
    transform: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(10px); /* positive value moves the element downwards */
  }
  100% {
    transform: rotate(180deg) translateY(0);
  } 
}

/************wave nav *****************/

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px;
}



button:hover .waviy {
  animation: waviy 3s infinite;
}

.blur-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 900; 
}





.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


.section-container {
  max-width: 1200px; 
  margin: auto;   
}

@media (max-width: 768px) {
  .section-container {
    margin-bottom: 1rem;
  }
}


@media (max-width: 768px) {
  .border_mobile {
    display: none;
  }
}

@media screen and (max-width: 1009px) {
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 2rem;
  }
  .line {
   display: none;
  }
}


  @media screen and (max-width: 768px) {
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      font-size: 2rem;
    }
  }
  


  /********bulle yeti***************/
  .yeti-container {
    position: relative;
    width: auto;
    height: auto;
}

.bulle {
    display: none;
    position: absolute;
    right: -110px; /* Utilisez "left" au lieu de "right" */
    top: -30px;  /* Ajustez selon le besoin pour la bulle de monter */
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
    
    
}

.bulle.active {
  display: block;
    opacity: 1; /* Opacité à 1 lorsque la classe "active" est ajoutée */
}



.bulle::before {
  content: "";
   position: absolute;
   top: 45%;
   right: 100%;  /* Changez à "right" pour que la pointe soit à gauche */
   border-right: 15px solid white;  /* Changez border-left à border-right */
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
}


@media (max-width: 768px) {
  .bulle {
    right: -90px;
    top: -20px;
  }
}


